<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>To Do WebApp</title>
  <link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>
<body>
  <center><h2>To Do Tasks:</h2></center>

  <center> 

    <table>
      <tr>
        <th>Task:</th>
        <th>Email:</th>
        <th>Priority:</th>
        <th>Action:</th>
      </tr>
    
      {% for task in todo_list %}
      <tr>
        <td>{{ task.task }}</td>
        <td>{{ task.email }}</td>
        <td>{{ task.priority }}</td>
        <td>
          <form action="/delete" method="POST">
            <button type="submit">Delete</button>
            <input type="hidden" name="index" value="{{ loop.index0 }}">
          </form>
        </td>
      </tr>
      {% endfor %}
      <br><br>
  
    </table>

  </center>

  <br>
  <p>
    <b>Create a New Task:</b>
  </p>
  <form action="/submit" method="POST">
    <input type="text" name="task" placeholder="Task"></input>
    <input type="text" name="email" placeholder="Email"></input>
    <select name="priority">
      <option value="Blank">Select Priority</option>
      <option value="Low">Low</option>
      <option value="Medium">Medium</option>
      <option value="High">High</option>
    </select>
    <br>
    <br>
    <button type="submit">Add To Do Item</button>
  </form>
  <p>
    <b>Clear All Tasks:</b>
  </p>
  <form action="/clear" method="POST">
    <button type="submit">Clear</button>
  </form>
  <p>
    <b>Save Tasks Locally:</b>
  </p>
    <form action="/save" method="POST">
      <button type="submit">Save</button>
    </form>
  <br>
  <br>
  <!-- Display message if a check fails -->
  <font color="red"><b>{{message}}</b></font>
</body>
</html>